@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background: #eeeeee;
	color: #333333;
}

aside {
	width: 25%;
}

#avatar {
	height: 90px;
	margin: 10px;
}

.subtitle-aside {
	font-size: 24px;
	margin: 0 5px;
}

.paragraph-aside {
	box-sizing: border-box;
	padding: 0.5rem;
}
